{
  "presets": ["babel-preset-expo"],
  "plugins": [
    ["transform-react-jsx-source"],
    [
      "module-resolver",
      {
        "root": ["./src"],
        "cwd": "babelrc",
        "extensions": [".js", ".ios.js", ".android.js"],
        "alias": {}
      }
    ]
  ]
}
